&copy;
= Date.today.year
Friends of George Clooney
&mdash;
%a(href="/clooney.png") Image
from
%a(href="http://www.flickr.com/photos/22785954@N08/3902889281") photo
by&nbsp;
%a(href="http://www.flickr.com/photos/nicogenin/")> Nicolas Genin
,
%a(href="http://creativecommons.org/licenses/by-sa/2.0/deed.en") [cc by-sa 2.0]
&mdash;
Not affiliated or associated with, or authorized by, George Clooney or representatives
